@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@font-face {
  font-family: 'Caros';
  src: url('../src/fonts/Caros-ExtraBold.otf') format('opentype');
}

@font-face {
  font-family: 'Caros';
  src: url('../src/fonts/Caros-Bold.otf') format('opentype');
}

@font-face {
  font-family: 'Caros';
  src: url('../src/fonts/Caros-Medium.otf') format('opentype');
}

@font-face {
  font-family: 'Caros';
  src: url('../src/fonts/Caros.otf') format('opentype');
}

@font-face {
  font-family: 'Caros';
  src: url('../src/fonts/Caros-Light.otf') format('opentype');
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
